@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #faf8f5;
  --foreground: #1c1917;
  --rdp-accent-color: #f59e0b;
  --rdp-accent-background-color: #fef3c7;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
}
